# Backend
backend/tmp/
backend/log/
backend/claims_uploads/
backend/.env

# Frontend
frontend/node_modules/
frontend/build/
frontend/.env

# Docker
postgres_data/

# OS
.DS_Store

# Dev
.env
backend/.vscode/settings.json
frontend/.vscode/settings.json
